<div class="background flex-container">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="signup-container">
    <h2 style="margin-top: 0">Sign up</h2>
    <form class="signup-form" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <label for="name">Username</label
      ><input id="name" formControlName="name" type="text" required />

      <br />

      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />

      <br />

      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required
        minlength="6"
      />

      <button
        class="btn-secondary"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign up
      </button>
    </form>

    <a class="login-link" routerLink="/login"
      >Already have an account? Login here
    </a>
  </div>
</div>
