body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  background-color: #0d0f1d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  align-items: center;
  justify-content: center;
}

.profile-container {
  min-width: 50vw;
  max-width: 800px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #0e101e;
  border-radius: 8px;
  border: 1px solid #1c1c1c;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-container {
  position: relative;
  margin-top: -60px;
  margin-left: 32px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 4px solid var(--gunmetal);
  object-fit: cover;
}

.profile-info {
  padding: 20px;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.bio {
  font-size: 16px;
  line-height: 1.5;
  color: #cccccc;
  margin: 15px 0;
  max-width: 600px;
}

.edit-button {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(78, 78, 78);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: rgb(216, 221, 234);
  color: #000000;
}

@media (max-width: 600px) {
  .banner-container {
    height: 150px;
  }

  .profile-image {
    width: 90px;
    height: 90px;
  }

  .profile-image-container {
    margin-top: -45px;
    margin-left: 20px;
  }
}
