<div class="profile-container">
  <div class="banner">
    <img *ngIf="user?.banner" [src]="user.banner" alt="Banner Image" />
  </div>

  <div class="profile-info">
    <img
      *ngIf="user?.profile_picture"
      [src]="user.profile_picture"
      class="profile-pic"
    />
    <h2>{{ user?.username }}</h2>
    <p class="bio">{{ user?.bio }}</p>

    <button (click)="editProfile()">Edit Profile</button>
  </div>

  <div class="posts-section">
    <h3>Your Posts</h3>
    <div *ngFor="let post of userPosts" class="post-card">
      <h4>{{ post.title }}</h4>
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>
