<!--

<div class="post-card" (click)="viewPost()">
  <h2>{{ post.title }}</h2>
  <p>{{ post.summary }}</p>
  <div class="meta">
    <span>By {{ post.author }}</span>
    <span>{{ post.created_at | date : "mediumDate" }}</span>
  </div>
</div>

-->

<div *ngIf="post" class="post-card">
  <h2>{{ post.title }}</h2>

  <p *ngIf="post.content.length < 100" class="post-content">
    {{ post.content }}
  </p>

  <p *ngIf="post.content.length > 110" class="post-content">
    {{ post.content.substring(0, 110) + "..." }}
  </p>

  <!-- Category (if available) -->
  <!-- Researched ngClass, took category string, converted it 
   to an array, iterated through the array and added class[i] to each item. -->

  <div *ngIf="trimmedCategories.length > 0" class="categories">
    <p
      *ngFor="let category of trimmedCategories; let i = index"
      [ngClass]="'category-' + i"
    >
      {{ category }}
    </p>
  </div>

  <!-- Likes -->
  <div class="like-container">
    <div class="like-button" (click)="likePost()" (click)="handleLike()">
      <span class="heart" [class.active]="isLiked">❤️</span>
      <span class="count">{{ post.likes }}</span>
    </div>
    <div class="particles" *ngIf="showParticles">
      <span class="particle" *ngFor="let particle of particles">❤️</span>
    </div>
  </div>

  <!-- <div class="likes">
    <span (click)="likePost()">❤️ {{ post.likes }}</span>
  </div> -->

  <div class="meta">
    <span>By {{ post.username }}</span>
    <!-- Change this to the username if available -->
    <span>{{ post.date_posted | date : "mediumDate" }}</span>
  </div>
  <button class="read-more" (click)="viewPost()">Read More</button>
</div>
