.post-card {
  background-color: #ffffff;
  width: 18rem;
  height: 14rem;
  padding: 3rem;
  margin-bottom: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0.2s ease;
  border-color: rgb(234, 234, 234);
  border-width: 1px;
  border-style: solid;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.post-card:hover {
  transform: translateY(-5px);
}

.meta {
  font-size: 0.85rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 3rem;
}

.read-more {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 16px;
  margin-top: 3rem;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  border-radius: 6px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;

  transition-duration: 0.3s;
}

.read-more:hover {
  background-color: #dddddd;
}
