/* .footer {
  background-color: #e4e4e4;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #000000;

  nav a {
    color: #606060;
    margin: 0 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  width: 100%;
} */
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.footer {
  background-color: #1e2022;
  color: #ffffff;
  padding: 20px 0 0 0;
  text-align: left;
  font-size: 0.9rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 50px;
}

.footer-section h4 {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: #f0f0f0;
  text-decoration: underline;
  cursor: pointer;
}

.footer-section a:hover {
  color: rgb(243, 59, 111);
  text-decoration: underline;
}

.footer-bottom {
  justify-items: center;
  align-content: center;
  background: linear-gradient(#1e2022, #2f3338);
  padding: 0 0 100px 0;
  min-height: 70vh;
}

.footer-bottom h2 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Instrument Serif", serif;
}

.footer-bottom form input {
  background-color: #1e2022;
  padding: 0.7rem 1rem;
  color: #ffffff;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  margin-right: 0.5rem;
  width: 10rem;
}

.footer-bottom form button {
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.footer-bottom form button::hover {
  background-color: #b5b5b5;
}

.made-by {
  padding-top: 100px;
  font-weight: 200;
  color: #c4c4c4;
}
