<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>
        Validate your startup ideas, <br /><span class="hero-text-span"
          >faster than ever before</span
        >
      </h1>
      <p>
        Gain invaluable insight and guidance from expereienced founders and
        community members. 🎉
      </p>
      <button class="btn-primary" routerLink="/login">Sign Up →</button>
      <br />
      <a class="login-link" routerLink="/login"
        >Already have an account?<br />Login here</a
      >
    </div>
  </div>
</main>
