<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>
        Validate your startup ideas, <br /><span class="hero-text-span"
          >faster than ever before</span
        >
      </h1>
      <p>
        Gain invaluable insight and guidance from expereienced founders and
        community members. 🎉
      </p>
      <button class="btn-primary" routerLink="/login">Sign up →</button>
      <button class="btn-secondary" routerLink="/">Learn more</button>
      <br />
      <a class="login-link" routerLink="/login"
        >Already have an account?<br />Login here</a
      >
    </div>
  </div>
</main>

<div class="post-container">
  <a routerLink="posts">Go to all posts</a>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
</div>

<div class="hero-2">
  <div class="explanation-card">
    <h3><span class="emoji">🎯</span> Share Your Startup Idea</h3>
    <p>Write a short pitch—what’s the problem you’re solving?</p>

    <h3><span class="emoji">💡</span> Get Community Feedback</h3>
    <p>
      Entrepreneurs, investors, and builders will comment, vote, and share
      insights.
    </p>

    <h3><span class="emoji">💎</span> Improve & Iterate</h3>
    <p>Refine your idea based on feedback before taking the next step.</p>
  </div>
  <div>
    <h1 class="hero-2-text">
      <span class="hero-2-span-text">Got an idea?</span><br />
      <span class="hero-2-span-text">Post it.</span><br />
      <span class="hero-2-span-text">Get feedback.</span><br />
      <span class="hero-2-span-text">Iterate.</span>
    </h1>
  </div>
</div>
