:host {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4.5rem;
  color: #000000;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.hero-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.hero-2-text {
  text-align: right;
  margin-left: 80px;
  z-index: 5;
}

.hero-2-span-text {
  transition-duration: 0.125s;
}

.hero-2-span-text:hover {
  color: #e41956;
}

.explanation-card {
  background-color: #ffffff;
  width: 40%;
  height: 18rem;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: crosshair;
  transition: transform 0.2s ease;
  border-color: rgb(237, 237, 237);
  border-width: 1px;
  border-style: solid;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.explanation-card:hover {
  transform: translateY(-5px);
}

.explanation-card p {
  font-size: 1rem;
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.emoji {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  margin: 0;
  color: #3a3a3a;
  margin-bottom: 15px;
}

main {
  width: 100%;
  min-height: 80%;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  padding: 80px 180px;
}

html,
body {
  margin: 0;
  background-color: #f4faff;
}

.left-side p {
  max-width: 68%;
}

.content {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #e41956;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  margin-top: 12px;
  margin-right: 10px;
  border: 0 solid #e41956;
  border-radius: 8px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  font-size: 1rem;

  cursor: pointer;

  transition-duration: 0.3s;
}

.btn-primary:hover {
  background-color: #c82b5a;
}

.btn-secondary {
  background-color: #efc5d2;
  color: #e41956;
  padding: 10px 30px;
  margin-top: 12px;
  border: 0 solid #e41956;
  border-radius: 8px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  font-size: 1rem;

  cursor: pointer;

  transition-duration: 0.3s;
}

.btn-secondary:hover {
  background-color: #dba5b5;
}

.btn-tertiary {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 24px;
  margin: 0px;
  border: 0 solid #000000;
  border-radius: 25px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  font-size: 1rem;

  cursor: pointer;

  transition-duration: 0.3s;
}

.btn-tertiary:hover {
  background-color: #3a3a3a;
}

.login-link {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.6rem;
  color: #858585;

  margin-top: 8px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-color: #daedff;
  padding: 50px;
  margin-bottom: 60px;
}

.banner h3 {
  font-size: 2rem;
}

.banner p {
  max-width: 100%;
  color: #191919;
  font-weight: 300;
}

.banner-left {
  width: 30%;
  margin-right: 6%;
}

.banner-right {
  width: 40%;
}

.banner-right p {
  color: #000000;
  font-weight: 500;
  line-height: 250%;
}

.plus-button {
  border-radius: 100%;
  border: #000000;
  height: 36px;
  width: 36px;
  font-size: 1.2rem;
  color: white;
  background: black;
  font-weight: 600;

  transition-duration: 0.3s;
}

.plus-button:hover {
  background-color: #e41956;
  border-color: #c82b5a;
  scale: 110%;
}

.post-container {
  margin: 40px 80px 80px 80px;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: center; /* Ensures even spacing */
  gap: 2px; /* Adds spacing between items */
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
