<div class="body" style="min-height: 100vh; min-width: 100%">
  <div class="container">
    <!-- 🔎 Search Bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search posts..." />
    </div>

    <!-- 🏷 Tags Section -->
    <div class="tags">
      <button
        *ngFor="let tag of tags"
        [ngClass]="{ active: selectedTags.includes(tag) }"
        (click)="toggleTag(tag)"
        class="tag"
      >
        {{ tag }}
      </button>
    </div>
  </div>

  <button routerLink="/create-post" class="tag create-post-constant">
    Create Post ＋
  </button>

  <!-- 📜 Posts List -->
  <div class="post-list">
    <div *ngFor="let post of filteredPosts">
      <app-post-card [post]="post"></app-post-card>
    </div>
  </div>

  <div class="not-signed-in" *ngIf="notSignedIn">
    <h1>Sorry</h1>
    <p>Sign in to view more posts!</p>
    <button [routerLink]="'/login'" class="create-post-button" type="button">
      Sign in
    </button>
  </div>

  <div *ngIf="!notSignedIn">
    <div *ngIf="filteredPosts.length === 0" class="no-posts">
      <h1>Uh oh!</h1>
      <p>
        No posts found with the selected tags. <br />
        Be the first to create one?
      </p>
      <button
        routerLink="/create-post"
        class="create-post-button"
        type="button"
      >
        Create post
      </button>
    </div>
  </div>
</div>
