:host {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.body {
  background-color: #0d0f1d;
  padding-bottom: 100px;
}

.container {
  max-width: 830px;
  margin: auto;
  padding: 100px 20px;
}

.search-bar input {
  align-self: center;
  justify-self: center;
  width: 400px;
  padding: 20px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.search-bar {
  display: flex;
  margin-bottom: 48px;
  width: 400px;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}

.tags {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.tag {
  background-color: #0d0f1d;
  color: #ffffff;
  padding: 8px 16px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #3f3f3f;
  border-radius: 25px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;

  transition-duration: 0.4s;
}

.tag:hover {
  background-color: #242a35;
}

.tag.active {
  background-color: #23272e;
  border-color: #8a8a8a;
  box-shadow: 0 0px 8px rgba(142, 142, 142, 0.376);
}

.post-list {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.create-post-constant {
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 45%;
  left: 45%;
  z-index: 100;
  box-shadow: 0 0px 30px rgba(26, 26, 26, 0.521);
}

/* button {
  background: #0d0f1d;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  cursor: pointer;
  z-index: 10;
  transition-duration: 0.2s;
}

button:hover {
  background: #242a35;
  scale: 102%;
} */

.not-signed-in {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 6rem 4rem;
  margin: 50px 0px;
  max-width: 20%;
  background-color: #0d0f1d;
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #ffffff;
  transition-duration: 0.4s;
}

.not-signed-in:hover {
  scale: 102%;
  box-shadow: 0 0px 30px rgba(63, 63, 63, 0.189);
}

.not-signed-in h1 {
  font-weight: 500;
  margin: 0;
}

.not-signed-in p {
  font-weight: 300;
  color: #c8c8c8;
}

.no-posts {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 7rem 4rem;
  margin: 50px 0px;
  max-width: 20%;
  background-color: #0d0f1d;
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #ffffff;
  transition-duration: 0.4s;
}

.no-posts:hover {
  scale: 102%;
  box-shadow: 0 0px 30px rgba(63, 63, 63, 0.189);
}

.no-posts h1 {
  font-weight: 500;
  margin: 0;
}

.no-posts p {
  font-weight: 300;
  color: #c8c8c8;
}

.create-post-button {
  background: -webkit-linear-gradient(70deg, #ee0979, #ff5500);
  color: rgb(255, 255, 255);
  padding: 12px 26px;
  border: 0 solid #ff0066;
  margin-top: 10px;
  border-radius: 50px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.1rem;

  cursor: pointer;

  transition-duration: 0.5s;
}

.create-post-button:hover {
  box-shadow: 0 0px 30px rgba(255, 0, 81, 0.585);
}
