<div class="navbar">
  <div class="left-div-nav">
    <p (click)="Home()" class="logo">
      🪬 <span *ngIf="!logoOnly()" class="logo-text">PitchFork</span>
    </p>
  </div>
  <div class="right-div-nav" [class.active]="menuOpen">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >Home</a
    >
    <a routerLink="/posts" routerLinkActive="active" (click)="toggleMenu()"
      >Posts</a
    >
    <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()"
      >About</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="profile-link"
      (click)="toggleMenu()"
      >Profile</a
    >
  </div>
  <button
    aria-label="mobile navigation menu"
    class="hamburger"
    (click)="toggleMenu()"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>
