.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  min-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-left: 2rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {
  pointer-events: auto;
  margin: auto;
  margin-left: 50px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
a:active {
  color: #cc3363;
}

.right-div-nav {
  display: flex;
}

.spacer {
  flex: 1;
}

.btn-nav {
  background-color: #cc3363;
  color: azure;
  padding: 10px 30px;
  margin: 10px;
  margin-left: 80px;
  border: 0 solid #cc3363;
  border-radius: 8px;

  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.9rem;

  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    background-color: #d94473;
  }
}
