<style>
    :host {
      font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1 {
      font-size: 3.125rem;
      color: var(--gray-900);
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 0;
      font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }
  
    p {
      margin: 0;
      color: var(--gray-700);
    }
  
    main {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: left;
      align-items: left;
      padding: 1rem;
      box-sizing: inherit;
      position: relative;
    }

    .left-side {
        margin-left: 15%;
    }

    .left-side p {
        max-width: 68%;
    }
  
    .content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 700px;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
    .content h1 {
      margin-top: 1.75rem;
    }
  
    .content p {
      margin-top: 1.5rem;
    }

    .btn-primary {
        background-color: rgb(15, 15, 15);
        color: azure;
        padding: 10px 30px;
        margin-top: 12px;
        border: 0 solid #000000;
        border-radius: 8px;

        font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.9rem;

    }
  
    @media screen and (max-width: 650px) {
      .content {
        flex-direction: column;
        width: max-content;
      }
  
      }
  </style>
  
  <main class="main">
    <div class="content">
      <div class="left-side">
        <h1>Validate your startup ideas, <br><span class="hero-text-span">faster than ever before</span></h1>
        <p>Gain invaluable insight and guidance from expereienced founders and community members. 🎉</p>
        <button class="btn-primary" >Sign Up →</button>
      </div>
    </div>
  </main>
  
  