body {
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
  display: block;
  padding: 1rem;
}

.post-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: space-between; /* Ensures even spacing */
  gap: 16px; /* Adds spacing between items */
}
