<body>
  <div *ngIf="post" class="full-screen-post">
    <button class="close-button" (click)="closePost()">Go back</button>
    <h1>{{ post.title }}</h1>

    <div class="meta">
      <span>By {{ post.username }}</span> <br />
      <!-- Change this to the username if available -->
      <span>{{ post.date_posted | date : "mediumDate" }}</span>
    </div>

    <!-- <p class="post-content">{{ post.content }}</p> -->
    <div [innerHTML]="post.content" class="post-content"></div>

    <!-- Category (if available) -->
    <!-- Researched ngClass, took category string, converted it 
     to an array, iterated through the array and added class[i] to each item. -->

    <div *ngIf="trimmedCategories.length > 0" class="categories">
      <p
        *ngFor="let category of trimmedCategories; let i = index"
        [ngClass]="['category-' + i]"
      >
        {{ category }}
      </p>
    </div>

    <!-- Likes -->
    <div class="like-container">
      <div class="like-button" (click)="handleLike()">
        <span class="heart" [class.active]="isLiked">❤️</span>
        <span class="count">{{ post.likes }}</span>
      </div>
      <div class="particles" *ngIf="showParticles">
        <span class="particle" *ngFor="let particle of particles">❤️</span>
      </div>
    </div>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <div *ngFor="let comment of post.comments" class="comment">
      <div class="comment-header">
        <span>{{ comment.username }}</span>
        <span>{{ comment.date_posted | date : "medium" }}</span>
      </div>
      <p>{{ comment.content }}</p>
    </div>
    <div class="comment-form">
      <textarea placeholder="Write a comment..."></textarea>
      <button>Post</button>
    </div>
  </div>
</body>
